.header {
  color: white;
}

.tournamentList {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 150px auto 80px;
  margin: 10px;
  column-gap: 10px;
  row-gap: 15px;
  color: white;
}

.individualTournament {
  padding-left: 5px;
  padding-top: 5px;
  height: auto;
  width: auto;
  border-radius: 15px;
  background: #21212b;
  border-color: #ea4335;
  border-width: 5px;
  border-style: inset;
}
