.fatherDiv {
  filter: brightness(1.2) contrast(20);
  width: 50%;
  height: 100px;
  margin: 0 auto;
  /* padding-top: 500px; */
  padding-left: 40%;

  /* filter: blur(20px); */
}

.cat {
  color: white;
  animation: right 15s infinite;
}

@keyframes right {
  0%,
  100% {
    margin-left: 100px;
  }
  50% {
    margin-left: -100px;
  }
}

.dog {
  color: white;
  animation: lefty 5s infinite;
  position: relative;
  z-index: 4;
}

@keyframes lefty {
  0%,
  100% {
    margin-left: -250px;
  }
  50% {
    margin-left: -50px;
  }
}
